[submodule "lib/commonlibsse-ng"]
	path = lib/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibSSE-NG
	branch = ng
[submodule "lib/skse-menu-framework"]
	path = lib/skse-menu-framework
	url = https://github.com/QTR-Modding/SKSE-Menu-Framework-3-API
